.canvas-sphere {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  perspective: 2000px;
  perspective-origin: center center;
  position: relative;
}

/* .point {
  background: #000;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  transform-style: preserve-3d;
} */
